.redes{
    display: flex;
    text-align: center;
    justify-content: center;
 height: 250px;
 width: 300px;
    flex-direction: row;
    box-shadow: 0 0 35px #2dd8c1  ;
    border-radius: 6px;
   flex-wrap: wrap;
   margin-right: 50px;
   border-radius: 82px 16px 100px 12px; 
   
    
}

.redes a{
    display: flex;
    height:100px;
    width: 100px;
    background-color: rgba(6, 6, 6, 0.2);
    margin: 8px ;
    align-items: center;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #d1cdcd;
    transition: all 0.3s ;
    justify-content: center;
    transform: scale(0.8);
}

.redes a svg{
  height:60px !important;
  width: 60px  !important;
}




.facebook:hover {
    color: #d1cdcd;
    background-color: #ec48a8;
   transform: scale(0.7);
    
    box-shadow:0 0 25px #2dd8c1;
    text-shadow: 0 0 25px #2dd8c1;
}
.instagram:hover{
    color: #d1cdcd;
    background-color: #ec48a8;
    transform: scale(0.7);
    box-shadow:0 0 25px #2dd8c1;
    text-shadow: 0 0 25px #2dd8c1;
}
.youtube:hover{
    color: #d1cdcd;
    background-color: #ec48a8;
    transform: scale(0.7);
    box-shadow:0 0 25px #2dd8c1;
    text-shadow: 0 0 25px #2dd8c1;}
.twitter:hover{
    color: #d1cdcd;
    background-color: #ec48a8;
    transform: scale(0.7);
    box-shadow:0 0 25px #2dd8c1;
    text-shadow: 0 0 25px #2dd8c1;
}

.mail:hover{
  color: #d1cdcd;
  background-color: #ec48a8;
  transform: scale(0.7);
  box-shadow:0 0 25px #2dd8c1;
  text-shadow: 0 0 25px #2dd8c1;
}




  @media (max-width: 980px){

  .redes{
    margin-top: 80px;
    width: 75vw;
    height: 10vw;
    margin-left: 5vw;
    justify-content: space-evenly; 
    border-radius: 20px 20px 82px 82px; 
  }
  .redes a{
    margin-top: 0vw; 
    
    height: 10vw;
    width: 10vw;}
   
    .redes a svg{
      height: 8vw ;
      width: 8vw ;
    }

   .contactTitle{
    width: 80vw;
    font-size: 5vw;
    justify-content: center;
   
   }

  }
  

  
  @media (max-width: 613px){
    .redes a svg{
      height: 8vw !important;
      width: 8vw !important;
    }
    .redes a{
      
      height: 9vw !important;
      width: 9vw !important;}

    
    .redes{
      width: 80vw;

    }  
    .contactTitle{
      font-size: 7vw;
      justify-content: center;
     
     }
  }

  @media (max-width:470px){
   .redes a{
    margin: 0 15px 10px 0;
   }
   .redes a svg {
    height: 9vw !important ;
    width: 9vw  !important;
  }
  .redes a{
    
    height: 10vw !important;
    width: 10vw !important;}
  }