


.carousel{
    width: 100%;
    height: 900px;
    position: relative;
    
}


.detailContainer{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    z-index: 40;
}

.info{
    max-width: 25vw;
    font-size: 1.3vw;
    color: rgb(254, 254, 253);
    font-family: 'Montserrat', sans-serif;
    
}


.hache1{
text-align:center;
font-size: 100px;
font-family: 'Permanent Marker', cursive;
border-bottom: 1px solid #ffff;
text-shadow: 0 0 50px  #2dd8c1;
letter-spacing: 0.5vw;
height: 180px;
align-items: center;
justify-content: center;
display: flex;
margin-top: -10px;


color: rgb(254, 254, 253);}
.hache2{
text-align: center;
font-size: 100px;

color: rgb(254, 254, 253);
border-bottom: 1px solid #ffff;
height: 160px;
text-shadow: 0 0 50px  #2dd8c1;
align-items: center;
justify-content: center;
display: flex;
}
.hache3{
text-align: center;
height: 160px;
border-bottom: 1px solid #ffff;
font-size: 100px;

text-shadow: 0 0 50px  #2dd8c1;
color: rgb(254, 254, 253);
align-items: center;
justify-content: center;
display: flex;
}

.deployRepo{
   display: flex;
   flex-direction: column;
   align-items:center;
   margin-top: -40px;
   padding-right: 60px;
   z-index: 100;
   
   
   
}

.deployIcondown{
    margin-top: 50px;
}



.logos{
    max-width: 20vw;
    align-items: center;
    margin-top: 20px;
    min-width: 20vw;
    
    

}


.deployGit{
     width:150px;
     height:150px
}

.deployIconGitzoa{
    height: 60px;
    width: 60px;
}

.logos a img{
    height: 50px;
    width: 50px;
    border: 3px solid #2dd8c1;
    border-radius: 15%;
    margin: 3px;
    box-shadow: 0 0 20px #2dd8c1;
    background-color: rgb(235, 229, 235);
}

.swiper, swiper-container{
    height: 93vh;
    border-radius: 10px !important;
}

.swiper-button-prev{
   
    color: rgb(253, 252, 251) !important;
    top: 85px !important;
    left: 25vw !important;
    
}
.swiper-button-next{
   color:  rgb(253, 252, 251) !important;
   top: 85px !important;
   right: 25vw !important;

   
    
    
}


.swiper-pagination{
    
  
   
    
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    top: 140px !important;
    color: #e2dee0!important;
    height: 100px;
    
    
    
    
}


.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,15px)) !important;
    background: #ce539b !important;
}

.swiper-pagination-bullet-active{
    background: #ce539b !important;
    box-shadow: 0 0 20px #ce539b;
}

.card{
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 27vw;
    height: 14vw;
    object-fit: cover;
    opacity: 0;
    transition: 500ms;
    border-radius: 15px;
    border: 5px solid white;
    
}

.card--active{
    opacity: 1;
    z-index: 99;
    transform: scale(1);
    box-shadow: 0 0 50px #2dd8c1;

}

.card--left{
transform: translate(-125%) scale(0.8);
transition: 500ms;
opacity: 0.3;
box-shadow: 0 0 50px #ce539b;
}
.card--right{
    transform: translate(125%) scale(0.8);
    transition: 500ms;
    opacity: 0.3;
    box-shadow: 0 0 50px #ce539b;
}

.cardzoa{  position: absolute;
    top: -100px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 260px;
    height: 480px;
    object-fit: cover;
    opacity: 0;
    transition: 500ms;
    border-radius: 15px;
    border: 5px solid white;}

.cardzoa--rightzoa{ transform: translate(125%) scale(0.7);
    transition: 500ms;
    opacity: 0.3;
    box-shadow: 0 0 50px #ce539b;
    bottom: -5px;
    
}

.cardzoa--leftzoa{
    transform: translate(-125%) scale(0.7);
transition: 500ms;
opacity: 0.3;
box-shadow: 0 0 50px #ce539b;
bottom: -5px;


}

.cardzoa--activezoa{ opacity: 1;
    z-index: 99;
    transform: scale(1);
    box-shadow: 0 0 50px #2dd8c1;
;}


@media (max-width: 1367px){
.hache1{
    font-size: 7vw;
}
.hache2{font-size: 7vw;}
.hache3{font-size: 7vw;}




    .info{
    font-size: 20px;

}

.logos{
    margin-top: 30px;
}

.logos a img{
    width: 40px;
    height: 40px;  }

    .deployIcondown{ 
         margin-top: 50pxpx;
        margin-left: 0px;
        }
        .card{
            margin-top: 450px;
           }
        .card--left{
            transform: translate(-125%) scale(0.6);}
        .card--right{
                transform: translate(125%) scale(0.6);} 
        .card--active{
                    transform: scale(1.6);} 


 .cardzoa--activezoa{
   
    transform: scale(1);

}

.cardzoa--leftzoa{
  height: 35vw;
  width: 19vw;
}

.cardzoa--rightzoa{
    height: 35vw;
    width: 19vw;
}}

@media (max-width: 980px){
   
    .card{
        margin-top: 600px;
       }
    .card--left{
        transform: translateY(-150%) scale(0.6);}
    .card--right{
            transform: translateY(150%) scale(0.6);} 
    .card--active{
                transform: scale(1.8);} 
    .logos a img{
          width: 40px;
          height: 40px;  }      
    .info{
          font-size: 18px;
        
        }       
    .swiper-backface-hidden{
        height: 1200px !important;}
        .cardzoa{
            margin-top: 380px;
        }
        .card{
            margin-top: 600px;
        }
        .deployIconGitzoa{
            margin-left: 2vw ;
            margin-top: 100px;
}
}
@media (max-width: 859px){
   .detailContainer{flex-direction:column;
                    justify-content: center;
                    align-items: center ;
                    
                     
} 
 .info{
    max-width: 70vw;
 }

 .logos a img{
    width: 4.5vw;
    height: 4vw;  }
 .deployRepo{
    flex-direction: row;
    margin-top: 20px;
    width: 60vw;
    justify-content:space-evenly;
     
 }

 .deployIconGitzoa{
    margin-left: 60px ;
    margin-top: 20px;
 }
 .hache1{
    font-size: 8vw;
 }

 .hache2{
    font-size: 8vw;
 }

 .hache3{
    font-size: 8vw;
 }

 .swiper-button-prev{
   
    color: rgb(253, 252, 251) !important;
    top: 85px !important;
    left: 20vw !important;
    
}
.swiper-button-next{
   color:  rgb(253, 252, 251) !important;
   top: 85px !important;
   right: 20vw !important;

   
    
    
}

 .carousel img{
   top:100px
 }

 .cardzoa{
    margin-top: 260px;
}
.card{
    margin-top: 550px;
}


 
 .logos{
    max-width: 75vw;
 }

}

@media (max-width: 570px){

    .logos{
        display: none;
    }

    .carousel img{
        top:20px
      }
      .hache3{
        font-size: 11vw;
     }
      .hache2{
        font-size: 11vw;
     }
     
     .hache1{
        font-size: 11vw;
     }
     
      .swiper-button-prev{
   
        color: rgb(253, 252, 251) !important;
        top: 85px !important;
        left: 10vw !important;
        
    }
    .swiper-button-next{
       color:  rgb(253, 252, 251) !important;
       top: 85px !important;
       right: 10vw !important;}
    
       .card--left{
        transform: translateY(-300%) scale(1.5);}
    .card--right{
            transform: translateY(300%) scale(1.5);}   
        
        
    
   
    .card--active{
                transform: scale(3);
                height: 80px;
            } 
    .card{
       margin-top: 580px;
        border: 1px solid white
    }   
    
    
    .cardzoa--leftzoa{
        display: none;}
     .cardzoa--rightzoa{
            display: none;} 
     .cardzoa--activezoa{
                 transform: scale(1.1);

                 margin-top: 300px;
             } 
     .cardzoa{
         border: 1px solid white
     }   
}

@media (max-width: 470px){
    .card--left{
        transform: translateY(-350%) scale(1.5);}
    .card--right{
            transform: translateY(390%) scale(1.5);}
    .deployIcon{
       margin-left: 40px;
    }
    .deployIconGit{
        margin-left: 60px ;
    }
    .deployIconGitzoa{
        margin-left: 60px ;
        margin-top: 30px;

    }
    .cardzoa--activezoa{
        transform: scale(1.1);

        margin-top: 360px;
    } 
}