.video{
    margin-top: -50px;
    height: 600px;
}

.video div {
    height: 600px;
}
.rh5v-DefaultPlayer_video{
    margin-top: 80px;
    height: 450px;
    border-radius: 62% 38% 31% 69% / 28% 50% 50% 72% ;
    box-shadow: 0 0 35px #ce539b, 0 0 30px #ce539b,0 0 30px #ce539b, 0 0 80px #2dd8c1;


    
}

.rh5v-PlayPause_button{
    display: none;
} 
.rh5v-Time_component {
    display: none;
}
.rh5v-Volume_component {
    display: none;
}

.rh5v-Fullscreen_component{
    display: none;
} 

.rh5v-Seek_track{   display: none;
}

.rh5v-DefaultPlayer_seek{
    display: none;
}

.rh5v-DefaultPlayer_controls{
    display: none;
}

@media (max-width: 980px){
   .video{
    
   
   }
    .rh5v-DefaultPlayer_video{
        height: 400px;
    }
    }